* {
  color: white;
}

.App {
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: grey;
}

.dot-container, .color-selector {
  flex-direction: row;
  display: flex;

}

.dot{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  margin: 5px;
}

.white-dot {
  background-color:white;
}

.red-dot {
  background-color:red;
}

.brown-dot {
  background-color:brown;
}

.blue-dot {
  background-color:blue;
}

.green-dot {
  background-color:green;
}

.yellow-dot {
  background-color:yellow;
}

.orange-dot {
  background-color:orange;
}

.selected {
  border: solid 2px black;
}